@model Projet_Jeu_Role.Models.Answer

@{
    ViewData["Title"] = "Détails d'un personnage";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div>
        <h1>@ViewData["Title"]</h1>
        <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnswerContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnswerContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituationEnterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationEnterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SituationExitId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SituationExitId)
        </dd>
    </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Modifier</a>
        <a class="btn btn-outline-primary" asp-action="Index">Retour à la liste</a>
    </div>
</body>
</html>
