@using Projet_Jeu_Role.Controllers
@model Projet_Jeu_Role.Models.Situation

@{
	ViewData["Title"] = "Détails de la situation";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewData["Title"]</title>
</head>
<body>

	<div>
		<h1>@ViewData["Title"]</h1>
		<hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Id)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Id)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.SituationName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.SituationName)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.SituationDescription)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.SituationDescription)
			</dd>
		</dl>
	</div>
	<div>
		<a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Modifier la situation</a>
	</div>
	<div>
		<br />
		<h2>Réponses liées</h2>
		<hr />
		<table>
			<thead>
				<tr>
					<th>Contenu de la réponse</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@{
					foreach (var item in Model.AnswerEnter)
					{

						<tr>
							<td>
								@Html.DisplayFor(m => item.AnswerContent)
							</td>
							<td>
								<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Détails</a>
								<a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Modifier</a>
								<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
							</td>
						</tr>
					}
				}
			</tbody>
		</table>

		<!-- Message d'erreur s'il n'y a pas de réponses associées -->
		@{
			if (Model.AnswerEnter.Count == 0)
			{
				<div class="alert alert-secondary" role="alert">
					<p>
						Pas de réponses associées à cette situation.
					</p>
					<a class="btn btn-primary" asp-area="" asp-controller="Answers" asp-action="Index">Aller aux réponses</a>
				</div>
			}
		}
	</div>
	<div>
		<a class="btn btn-outline-primary" asp-action="Index">Retour à la liste</a>
	</div>
</body>
</html>
