@model Projet_Jeu_Role.Models.Situation

@{
    ViewData["Title"] = "Détails de la situation";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div>
        <h1>@ViewData["Title"]</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SituationName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SituationName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SituationDescription)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SituationDescription)
            </dd>
        </dl>
    </div>
    +
    <div>
        +    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Modifier la situation</a>
        +
    </div>
    +
    <div>
        <br />
        <h2>Réponses liées</h2>
        <hr />
        @*@Html.DisplayFor(model => model.Answers.ToString())*@

        @Html.DisplayFor(model => model.Answers[1])

        @*foreach (var i in Model.Answers) {
        <p>
        i.AnswerContent.ToString()

        @Html.DisplayFor(i => i.AnswerContent.ToString())
        </p>
        }
        *@


    </div>
    +
    <div>
        <a class="btn btn-outline-primary" asp-action="Index">Retour à la liste</a>
    </div>
</body>
</html>
