@model IEnumerable<Projet_Jeu_Role.Models.Situation>

@{
    ViewData["Title"] = "Liste des situations";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <h1>@ViewData["Title"]</h1>
    <hr/>
<p>
    <a asp-action="Create" class="btn btn-primary">Créer une situation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SituationDescription)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SituationDescription)
            </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Détails</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Modifier</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                    </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
