@using Projet_Jeu_Role.Controllers
@model IEnumerable<Projet_Jeu_Role.Models.User>

@{
    ViewData["Title"] = "Liste des utilisateurs";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
@{
  if (!UsersController.IsConnected){
      <div class="row">
        <div class="col-md-12">
            <partial name="_Login"/>
            <a asp-action="Create">Créer un Utilisateur</a>
        </div>
      </div>

  }
  else
  {
	
     <table class="table">
     <thead>
         <tr>
             <th>
                 @Html.DisplayNameFor(model => model.Nom)
             </th>
             <th>
                 @Html.DisplayNameFor(model => model.Role)
             </th>
                         <th>
                 @Html.DisplayNameFor(model => model.Email)
             </th>
             <th></th>
         </tr>
     </thead>
     <tbody>
     @foreach (var item in Model) {
         <tr>
             <td>
                 @Html.DisplayFor(modelItem => item.Nom)
             </td>
             <td>
                 @Html.DisplayFor(modelItem => item.Role)
             </td>
              <td>
                 @Html.DisplayFor(modelItem => item.Email)
             </td>
             <td>
                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                 <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
             </td>
         </tr>
     }
     </tbody>
 </table>
  }
		}
		</body>
</html>
